@model ArqueoDB.Models.Profissional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profissional</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Utilizador.NomeUtilizador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Utilizador.NomeUtilizador)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfissionalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
