@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutArqueodb.cshtml";
}

		<div class="row-fluid">
			<!-- Breadcrumb line -->
			<div id="breadcrumbs">
				<div class="breadcrumb-button blue">
					<span class="breadcrumb-label"><i class="icon-home"></i> Início</span>
					<span class="breadcrumb-arrow"><span></span></span>
				</div>
				<div class="breadcrumb-button">
					<span class="breadcrumb-label">
					<i class="icon-group"></i> Utilizadores </span>
					<span class="breadcrumb-arrow"><span></span></span>
				</div>
				<div class="breadcrumb-button">
					<span class="breadcrumb-label">
					<i class="icon-user"></i> John Smith </span>
					<span class="breadcrumb-arrow"><span></span></span>
				</div>
			</div>
		</div>
		<div class="container-fluid padded">
			<div class="row-fluid">
				<div class="span10">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
							<div class="title">
								<span>Perfil de John Smith (johnsmith90)</span>
							</div>
							<ul class="box-toolbar">
								<li><span class="label label-red">Trabalhador em Organização</span></li>
							</ul>
						</div>
						<div class="box-content padded">
							<div class="row-fluid">
								<div class="span2">
									<div id="thumbs" style="margin: 0px auto 0px; text-align: left;">
										<a href="http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_m.jpg);margin: 0px 0px 0px;" title="Lion Rock"></a>
									</div>
								</div>
								<div class="span4" style="padding-left:20px;">
									<h4>Dr. John Smith dos Santos</h4>
									<h5><b> Arqueólogo </b></h5>
									<p>
										 Morador em Cidade
									</p>
									<p>
										 Nascido a 10 de Maio de 1922.
									</p>
								</div>
								<div class="span4" style="padding-left:20px;">
									<p style="margin: 10px 0;line-height:23px;">
										<b>Contactos</b>
									</p>
									<p>
										 Email: johnsmith@mail.com
									</p>
									<p>
										 Telefone: 910 000 000
									</p>
									<p>
										 Homem, 34 anos
									</p>
								</div>
								<div class=" offset1 span1">
									<a href="#" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i></a>
									<a href="#" class="btn btn-twitter btn-block"><i class="icon-twitter-sign"></i></a>
									<a href="#" class="btn btn-red btn-block"><i class=" icon-google-plus-sign"></i></a>
									<a href="#" class="btn btn-facebook btn-block"><i class="icon-linkedin-sign"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span2" style="padding-top:20px;">
					<!-- find me in partials/action_nav_normal -->
					<!--big normal buttons-->
					<div class="action-nav-normal">
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="#" title="Enviar Mensagem">
								<i class="icon-envelope"></i>
								<span>Enviar Mensagem</span>
								</a>
								<span class="triangle-button red"><i class="icon-plus"></i></span>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="#" title="Seguir utilizador">
								<i class="icon-rss"></i>
								<span>Seguir utilizador</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box" style="height:220px;">
					<div class="box-content padded">
						<div class="row-fluid" style="height:160px;overflow:hidden;">
							<h6>Sobre</h6>
							<p>
								 O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.
							</p>
						</div>
						<span class="pull-right"><b><a href="#">Ler mais...</a></b></span>
					</div>
				</div>
			</div>
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box" style="height:220px;overflow:hidden;">
					<div class="box-content padded">
						<div class="row-fluid">
							<h6>Galeria</h6>
							<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="text-align:center">
								<a data-gallery="gallery" href="http://farm9.static.flickr.com/8278/8710473326_51de9646ff_b.jpg" title="Sunset Glow"><img src="http://farm9.static.flickr.com/8278/8710473326_51de9646ff_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8279/8711851526_4a61f28c70_b.jpg" title="All my fragile strength is gone"><img src="http://farm9.static.flickr.com/8279/8711851526_4a61f28c70_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8405/8709668513_de109a58c2_b.jpg" title="girls in pool"><img src="http://farm9.static.flickr.com/8405/8709668513_de109a58c2_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8272/8710469871_986d36b76b_b.jpg" title="Torii"><img src="http://farm9.static.flickr.com/8272/8710469871_986d36b76b_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8278/8709009391_324ab2d164_b.jpg" title="The Tulips are Back"><img src="http://farm9.static.flickr.com/8278/8709009391_324ab2d164_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8128/8708904269_6a1a5770c6_b.jpg" title="Autumn Light New Brighton, NZ"><img src="http://farm9.static.flickr.com/8128/8708904269_6a1a5770c6_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8114/8709943206_fb82b615de_b.jpg" title="Perspektiv"><img src="http://farm9.static.flickr.com/8114/8709943206_fb82b615de_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8544/8709801261_53cb54061c_b.jpg" title="Crana River"><img src="http://farm9.static.flickr.com/8544/8709801261_53cb54061c_s.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box" style="height:220px;">
					<div class="box-content padded">
						<div class="row-fluid">
							<h6>Badges</h6>
							<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="text-align:center">
								<a data-gallery="gallery" href="http://farm9.static.flickr.com/8278/8710473326_51de9646ff_b.jpg" title="Sunset Glow"><img src="http://farm9.static.flickr.com/8278/8710473326_51de9646ff_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8279/8711851526_4a61f28c70_b.jpg" title="All my fragile strength is gone"><img src="http://farm9.static.flickr.com/8279/8711851526_4a61f28c70_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8405/8709668513_de109a58c2_b.jpg" title="girls in pool"><img src="http://farm9.static.flickr.com/8405/8709668513_de109a58c2_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8272/8710469871_986d36b76b_b.jpg" title="Torii"><img src="http://farm9.static.flickr.com/8272/8710469871_986d36b76b_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8278/8709009391_324ab2d164_b.jpg" title="The Tulips are Back"><img src="http://farm9.static.flickr.com/8278/8709009391_324ab2d164_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8128/8708904269_6a1a5770c6_b.jpg" title="Autumn Light New Brighton, NZ"><img src="http://farm9.static.flickr.com/8128/8708904269_6a1a5770c6_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8114/8709943206_fb82b615de_b.jpg" title="Perspektiv"><img src="http://farm9.static.flickr.com/8114/8709943206_fb82b615de_s.jpg"></a><a data-gallery="gallery" href="http://farm9.static.flickr.com/8544/8709801261_53cb54061c_b.jpg" title="Crana River"><img src="http://farm9.static.flickr.com/8544/8709801261_53cb54061c_s.jpg">
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="container-fluid padded">
			<div class="row-fluid">
				<div class="span6">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
							<div class="title">
								<span><i class="icon-edit"></i> Publicações</span>
							</div>
						</div>
						<div class="box-content padded">
							<div class="row-fluid">
								<div class="span12">

<ul class="chat-box timeline">

  <li class="arrow-box-left gray">
    <div class="avatar"><img class="avatar-small" src="../../images/avatars/avatar1.jpg"></div>
    <div class="info">
      <span class="name">
        <span class="label label-green">COMMENT</span> <strong class="indent">Michael</strong> posted a comment on this task: <strong>Core Admin</strong>
      </span>
      <span class="time"><i class="icon-time"></i> 3 minutes ago</span>
    </div>
    <div class="content">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </blockquote>
      <div>
        <a href="#"><i class="icon-paper-clip"></i> <b>project_news.docx</b></a>
      </div>
    </div>
  </li>

  

  
</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
							<div class="title">
								<span><i class="icon-comment"></i> Comentários</span>
							</div>
						</div>
						<div class="box-content padded">
							<div class="row-fluid">
								<div class="span12">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
