@using ArqueoDB.Models;
@model ArqueoDB.Models.Organizacao

@{
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    ViewBag.Title = "Membros";    
    int n_membros = 0;
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";    
}
@section breadcrumb {
    <li><a href="/DashOrganizacao/Membros/@Html.DisplayFor(model => model.OrganizacaoID)">Membros</a></li>
}
@section dashboard{
    Membros    
}
            <div class="span12" style="margin-bottom:20px">    
                @if(Model.Responsavel.UtilizadorID == user.UtilizadorID){             
                    <div class="pull-right" style="" >  
                         <a class="btn btn-inverse pull-right" href="#"><i class="micon-plus"></i>  Adicionar novo membro</a>
                    </div>
                }
                                <div class="input-prepend input-append span6" style="margin-left:0px">
                    				<div class="btn-group custom">
										<button class="btn"> <i class="micon-search-2"></i> Procurar Membros </button>
									</div>
                    				<input class="span6" type="text">
								</div>
            </div>
            <section class="content-wrapper main-content clear-fix">
@foreach(var m in Model.Membros){
    					<div class="span4" 
                            @if((n_membros++)%3==0){
                               <text> style="margin-left:0px"; </text>
                            }
                       >
    
					
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header">
								<h3 class="title"><a href="/Utilizadores/Details/@m.Utilizador.UtilizadorID">@m.Utilizador.Nome</a></h3> <!-- FALTA HIPERLIGAÇÃO  --> 
								@if(Model.Responsavel.UtilizadorID == user.UtilizadorID){
                                <div class="widget-nav">
									<div class="dropdown nav-item">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">Alterar permissões</a> <!-- FALTA HIPERLIGAÇÃO -->
											</li>
                                            <li>
												<a href="#">Remover membro</a> <!-- FALTA HIPERLIGAÇÃO -->
											</li>
										</ul>
									</div>
								</div>
                                }
							</div>
							<!-- ./ widget header -->
							
							<!-- widget content -->
							<div class="widget-content" style=" height:100px;">
                                <div class="span6">
                                    <div class="span12 widgetpic">
                                    <a href="/Utilizadores/Details/@m.Utilizador.UtilizadorID"> <!-- FALTA HIPERLIGAÇÃO -->
                                            <center>
                                                <img src="@(m.Utilizador.ImagemPerfil.Directoria.Caminho+m.Utilizador.ImagemPerfil.Nome)"/>
                                            </center>
                                    </a>

                                </div>
                                </div>
                                <div class="span6">
                                    <b>Email:</b><br> @m.Utilizador.Email<br>
                                    <b>Distrito:</b><br> @m.Utilizador.Distrito.Nome<br>                                    
                                </div>
                                <div class="span6 pull-right" style="margin-top:0px">
                                    <a class="btn btn-mini btn-inverse t pull-right" href="/Utilizadores/Details/@m.Utilizador.UtilizadorID"><i class="micon-eye"></i></a> 
                                    <a class="btn btn-mini btn-inverse t pull-right" style="margin-right:5px" href="#"><i class="micon-mail"></i></a> 
                                </div>
							</div>
							<!-- ./ widget content -->
							
						</div>	

					</div>
    
}

           </section>
