@using ArqueoDB.Models;
@model ArqueoDB.Models.Organizacao

@{
    Utilizador user = ((Utilizador)(Session["Utilizador"]));

    string type = "Todas as Publicações";

    if (String.IsNullOrEmpty(ViewBag.CurrentType))
    {
        type = "Todas as Publicações";
    }
    else if (ViewBag.CurrentType.Equals("Públicos"))
    {
        type = "Publicações Públicas";
    }
    else if (ViewBag.CurrentType.Equals("Ocultos"))
    {
        type = "Publicações Ocultas";
    }

    IEnumerable<Profissional> membros = ViewBag.MembrosOrganizacao;
    
    ViewBag.Title = "Membros";    
    int n_membros = 0;
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";    
}
@section breadcrumb {
    <li><a href="/DashOrganizacao/Membros/@Html.DisplayFor(model => model.OrganizacaoID)">Membros</a></li>
}
@section dashboard{
    Membros    
}
            
            <section class="content-wrapper main-content clear-fix">
    					
                
                
                       <div class="span6" style="margin-left:0px"; >               
 
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header padded">
								<h3 class="title"> <i class="icon-comment"></i> 
                                    Título abc abc
                                    Título abc abc
                                    Título abc abc
                                    Título abc abc
								</h3> <!-- FALTA HIPERLIGAÇÃO  --> 
								
                                <div class="widget-nav" style="margin-right: 10px;">
									à 10 minutos atrás
								</div>                                
							</div>
							<!-- ./ widget header -->

@* <td><a class="btn btn-mini btn-danger confirm-ocultar" data-id="@doc.DocumentoID"><i class="micon-cancel-2">  Ocultar</i></a></td> *@
							
							<!-- widget content -->
							<div class="widget-content padded" style="padding-bottom: 40px;" >

                                    Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!

							
                            <div class="span12 pull-right" style="padding-top: 20px; text-align: right;">
                                    <a class="btn btn-small btn-inverse t" href="/Locais/Details/1"><i class="micon-eye"></i> Ocultar</a>
                                    <a class="btn btn-small btn-danger t" href="/DashLocal/Dashboard/1"><i class="micon-pencil-2"></i> Remover</a>                                                                          
                            </div>
							<!-- ./ widget content -->
							
						</div>	

					</div> 
                  </div>  

                <div class="span6" >               
 
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header">
								<h3 class="title"> <i class="icon-comment"></i>     </h3> <!-- FALTA HIPERLIGAÇÃO  --> 
								
                                <div class="widget-nav" style="margin-right: 10px;">
									à 10 minutos atrás
								</div>                                
							</div>
							<!-- ./ widget header -->

@* <td><a class="btn btn-mini btn-danger confirm-ocultar" data-id="@doc.DocumentoID"><i class="micon-cancel-2">  Ocultar</i></a></td> *@
							
							<!-- widget content -->
							<div class="widget-content padded" style="padding-bottom: 40px;" >

                                    Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!

							
                            <div class="span12 pull-right" style="padding-top: 20px; text-align: right;">
                                    <a class="btn btn-small btn-inverse t" href="/Locais/Details/1"><i class="micon-eye"></i> Ocultar</a>
                                    <a class="btn btn-small btn-danger t" href="/DashLocal/Dashboard/1"><i class="micon-pencil-2"></i> Remover</a>                                                                          
                            </div>
							<!-- ./ widget content -->
							
						</div>	

					</div> 
                  </div>  

                <div class="span6" style="margin-left:0px"; >               
 
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header">
								<h3 class="title"> <i class="icon-comment"></i>     </h3> <!-- FALTA HIPERLIGAÇÃO  --> 
								
                                <div class="widget-nav" style="margin-right: 10px;">
									à 10 minutos atrás
								</div>                                
							</div>
							<!-- ./ widget header -->

@* <td><a class="btn btn-mini btn-danger confirm-ocultar" data-id="@doc.DocumentoID"><i class="micon-cancel-2">  Ocultar</i></a></td> *@
							
							<!-- widget content -->
							<div class="widget-content padded" style="padding-bottom: 40px;" >

                                    Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!
                                 Olá organização! Como estamos hoje? Aqui está a primeira linha longa desta publicação. Nada de especial, portanto. Continuando, blablablabla...
                                    Yeee!

							
                            <div class="span12 pull-right" style="padding-top: 20px; text-align: right;">
                                    <a class="btn btn-small btn-inverse t" href="/Locais/Details/1"><i class="micon-eye"></i> Ocultar</a>
                                    <a class="btn btn-small btn-danger t" href="/DashLocal/Dashboard/1"><i class="micon-pencil-2"></i> Remover</a>                                                                          
                            </div>
							<!-- ./ widget content -->
							
						</div>	

					</div> 
                  </div> 
                
                
           </section>
