@model ArqueoDB.Models.Local

                    <li class="avatar2 hidden-phone">
                        <a href="#">
	                        <img src="@Html.DisplayFor(m => Model.Imagens.ElementAt(0).Directoria.Caminho)@Html.DisplayFor(m => Model.Imagens.ElementAt(0).Nome)" />
	                        <span>@Html.DisplayFor(m => Model.Nome)</span>
                        </a>
                    </li>
                    <li 

                    @if (String.Compare((string)ViewData["Activo"], "Dashboard") == 0){
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Dashboard/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-screen"></i>
                            <span class="hidden-phone">Dashboard</span>
                        </a>
                    </li>
                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Artefactos") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Artefactos/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-diamond"></i>
                            <span class="hidden-phone">Artefactos</span>
                        </a>
                    </li>
                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Documentos") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Documentos/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-libreoffice"></i>
                            <span class="hidden-phone">Documentos</span>
                        </a>
                    </li>

                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Publicações") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Publicacoes/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-newspaper"></i>
                            <span class="hidden-phone">Publicações</span>
                        </a>
                    </li>


                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Plantas") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Plantas/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-picture"></i>
                            <span class="hidden-phone">Plantas</span>
                        </a>
                    </li>
                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Imagens") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Imagens/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-camera"></i>
                            <span class="hidden-phone">Imagens</span>
                        </a>
                    </li>
                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Estatísticas") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >                        
                            <a href="/DashLocal/Estatisticas/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-stats-up"></i>
                            <span class="hidden-phone">Estatísticas</span>
                        </a>
                    </li>
                    <li

                    @if (String.Compare((string)ViewData["Activo"], "Definicões") == 0)
                    {
                        <text>class="active"</text> 
                    }

                        >
                        <a href="/DashLocal/Definicoes/@Html.DisplayFor(m => Model.LocalID)">
                            <i class="micon-cog"></i>
                            <span class="hidden-phone">Definições</span>
                        </a>
                    </li>