@model ArqueoDB.Models.Local

							<li>
								<span class="large text-warning">@Html.DisplayFor(m => Model.Artefactos.Count)</span>
								<span class="mini muted">Artefactos</span>
							</li>
							<li>
								<span class="large text-info">@Html.DisplayFor(m => Model.Imagens.Count)</span>
								<span class="mini muted">Imagens</span>
							</li>
							<li>
								<span class="large text-success">@Html.DisplayFor(m => Model.Plantas.Count)</span>
								<span class="mini muted">Plantas</span>
							</li>
							<li>
								<span class="large text-error">@Html.DisplayFor(m => Model.Publicacoes.Count)</span>
								<span class="mini muted">Publicações</span>
							</li>
