@model ArqueoDB.Models.Artefacto


							<li>
								<span class="large text-info">@Html.DisplayFor(m => Model.Imagens.Count)</span>
								<span class="mini muted">Imagens</span>
							</li>
							<li>
								<span class="large text-success">@Html.DisplayFor(m => Model.Comentarios.Count)</span>
								<span class="mini muted">Comentários</span>
							</li>
