@model ArqueoDB.Models.Artefacto


							<li>
								<span class="large text-info">@Model.Imagens.Where(i => !i.Apagada ).Count()</span>
								<span class="mini muted">Imagens</span>
							</li>
							<li>
								<span class="large text-success">@Model.Comentarios.Where(c => !c.Apagado).Count()</span>
								<span class="mini muted">Comentários</span>
							</li>
