@model ArqueoDB.Models.Local

@{
    ViewBag.Title = "Documentos";    
    //int n_membros = 0;
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";    
}
@section breadcrumb {
    <li><a href="/Locais/Details/@Html.DisplayFor(model => model.LocalID)">@Html.DisplayFor(model => model.Nome)</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Dashboard/@Html.DisplayFor(model => model.LocalID)">Gestão do Local</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Artefactos/@Html.DisplayFor(model => model.LocalID)">Documentos</a></li>
}
@section dashboard{
    Membros    
}
            <div class="span12" style="margin-bottom:20px">                 
                <div class="pull-right" style="" >  
                        <a class="btn btn-flat btn-inverse pull-right" href="#"><i class="micon-plus"></i>  Adicionar novo documento</a>
                </div>
            </div>
            <section class="content-wrapper main-content clear-fix"> 

                <div class="span12">
                    <div class="well widget">
                        <div class="widget-content">
                    <table id="box-table-a" class="table table-hover">
									    <thead>
										<tr>
                                            <th>#</th>
											<th>Título</th>
											<th>Autor</th>
											<th>Ano</th>	
                                            <th></th>										
                                            <th></th>										
                                            <th></th>										
                                            <th></th>										
										</tr>
									</thead>
									<tbody>
										<tr>
                                            <td>1</td>
											<td>Documento 1</td>
											<td>Pedro</td>
											<td>2013</td>
                                            <td><a class="btn btn-mini btn-danger t" href="#"><i class="micon-eye"></i>  Ver</a></td>
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="icon-download-alt"></i>  Transferir</a></td>
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-share"></i>    Publicar</a></td>										
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-cancel-2"></i> Remover</a></td>										
										</tr>
										<tr>
                                            <td>2</td>
											<td>Documento 2</td>
											<td>João</td>
											<td>2009</td>											
                                            <td><a class="btn btn-mini btn-danger t" href="#"><i class="micon-eye"></i>  Ver</a></td>
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="icon-download-alt"></i>  Transferir</a></td>
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-share"></i>    Publicar</a></td>										
                                            <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-cancel-2"></i> Remover</a></td>									
										</tr>
										<tr>
                                            <td>3</td>
											<td><b>Documento 3</b></td>
											<td>António</td>
											<td>1999</td>																					
                                            <td><a class="btn btn-mini btn-danger t" href="#"><i class="micon-eye"></i>  </a></td>
                                            <td><a class="btn btn-mini btn-danger" href="#"><i class="icon-download-alt"></i>  </a></td>
                                            <td><a class="btn btn-mini btn-danger t " href="#"><i class="micon-share"></i>    </a></td>										
                                            <td><a class="btn btn-mini btn-success" href="#"><i class="micon-cancel-2"></i> </a></td>									
										</tr>

									</tbody>
								    </table>
                            </div>
                        </div>
                    </div>
            </section>

                