@model ArqueoDB.Models.Local

@{
    ViewBag.Title = "Documentos";    
    //int n_membros = 0;
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";
    int i = 0;  
}
@section breadcrumb {
    <li><a href="/Locais/Details/@Html.DisplayFor(model => model.LocalID)">@Html.DisplayFor(model => model.Nome)</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Dashboard/@Html.DisplayFor(model => model.LocalID)">Gestão do Local</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Artefactos/@Html.DisplayFor(model => model.LocalID)">Documentos</a></li>
}
@section dashboard{
    Membros    
}
               @* Ícone de adicionar documento *@
            <div class="span12" style="margin-bottom:20px">                 
                <div class="pull-right" style="" >  
                        <a class="btn btn-flat btn-inverse pull-right" href="#"><i class="micon-plus"></i>  Adicionar novo documento</a>
                </div>
                
                @*  Barra de Pesquisa *@
                <div class="input-prepend input-append span6" style="margin-left:0px">
                    				<div class="btn-group custom">
										<button class="btn"> <i class="micon-search-2"></i> Procurar Documentos </button>
									</div>
                    				<input class="span6" type="text">
			    </div>
            </div>
            
                @* Tabela de documentos *@
                <section class="content-wrapper main-content clear-fix"> 

                <div class="span12">
                    <div class="well widget">
                        <div class="widget-content">
                    <table id="box-table-a" class="table table-hover">
									    <thead>
										<tr>
                                            <th>#</th>
											<th>Título</th>
											<th>Autor</th>
											<th>Ano</th>										
										</tr>
									</thead>
                                    <tbody>
                @* Processar cada documento *@
                @foreach (var doc in ViewBag.DocumentosLocal)
                {
                    
                    <tr>
                        <td>@i.ToString()</td>
					    <td>doc.Titulo</td>
                        <td>doc.Responsavel.Utilizador.Nome</td>
					    <td>doc.DataPublicacao.Year</td>
                        <td><a class="btn btn-mini btn-inverse" href="#"><i class="micon-eye"></i>  Ver</a></td>
                        <td><a class="btn btn-mini btn-inverse" href="#"><i class="icon-download-alt"></i>  Transferir</a></td>
                        @if(doc.Publico == true) {
                            <td><a class="btn btn-mini btn-danger" href="#"><i class="micon-cancel-2"></i>    <i>Ocultar</i></a></td>
                        }
                        else {
                            <td><a class="btn btn-mini btn-danger" href="#"><i class="micon-checkmark">  Publicar</i></a></td>
                        }
                        <td><a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-cancel-2"></i> Remover</a></td>										
					</tr>                    
                    
                }
                                     </tbody>
                        	
								    </table>
                            </div>
                        </div>
                    </div>
            </section>

                