<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://arqueodb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>arqueodb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$arqueodb</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ArqueoDB.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iykj2wacs8.database.windows.net,1433;Initial Catalog=arqueodb;User ID=arqueodb@iykj2wacs8;Password=Password1!" Name="Data Source=tcp:iykj2wacs8.database.windows.net,1433;Initial Catalog=arqueodb;User Id=arqueodb@iykj2wacs8;Password=Password1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArqueoDB.Models.UsersContext, ArqueoDB" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ArqueoDB-20130327032712.mdf;Initial Catalog=aspnet-ArqueoDB-20130327032712;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ArqueoDB-20130327032712;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ArqueoDB-20130327032712.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArqueoDB.Models.UsersContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iykj2wacs8.database.windows.net,1433;Initial Catalog=arqueodb;User Id=arqueodb@iykj2wacs8;Password=Password1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ArqueoDB.Models.UsersContext" />
  </ItemGroup>
</Project>